In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
df = pd.read_csv("https://raw.githubusercontent.com/raditya2010631170111/df_20111/main/oj.csv")
df

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28942,137,dominicks,156,7.987524,0,2.00,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28943,137,dominicks,157,8.502689,0,1.94,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28944,137,dominicks,158,9.505991,0,1.59,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28945,137,dominicks,159,10.927376,0,1.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28946,137,dominicks,160,8.859363,0,1.75,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [8]:
df.groupby("brand").mean() 
df["brand"].value_counts()

tropicana      9649
minute.maid    9649
dominicks      9649
Name: brand, dtype: int64

In [ ]:
df["brand"].value_counts().plot.pie(autopct='%1.1f%%',labels=None, legend=True)
plt.tight_layout()

In [11]:
df_trop = df[df["brand"] == "tropicana"]
df_trop.head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [ ]:
df_mm = df[df["brand"] == "minuted.maid"] 
df_mm

In [ ]:
df_dm = df[df["brand"] == "dominicks"] 
df_dm

In [ ]:
df_trop["logmove"].mean()

In [ ]:
df.groupby(["brand", "week"])["logmove"].mean()
sns.scatterplot(x="week", y="logmove", data=df_trop, hue="brand")
plt.tight_layout()

In [14]:
df.groupby(["brand", "AGE60"])["logmove"].mean()

brand      AGE60
dominicks  0.058054    9.365237
           0.060280    8.833753
           0.061954    9.528622
           0.066896    9.314556
           0.089724    9.435534
                         ...
tropicana  0.283728    9.495347
           0.289442    9.075435
           0.299353    9.376829
           0.300279    9.726953
           0.307398    9.360220
Name: logmove, Length: 249, dtype: float64

In [ ]:
plt.figure(figsize=(10,6))
plt.title("pengaruh usia penduduk di sekitar toko terhadap tingkat penjualan Tropicana")

sns.barplot(x=df_trop["AGE60"], y=df_trop["logmove"])
plt.xlabel("AGE60")
plt.ylabel("logmove")
Text(0, 0.5, "logmove")

In [ ]:
df.groupby(["brand", "EDUC"])["logmove"].mean()

In [ ]:
plt.figure(figsize=(10,6))
plt.title("pengaruh tingkat pendidikan penduduk di lingkungan toko dengan tingkat penjualan Tropicana")

sns.barplot(x=df_trop["EDUC"], y=df_trop["logmove"])
plt.xlabel("EDUC")
plt.ylabel("logmove")
Text(0, 0.5, "logmove")

In [ ]:
df.groupby(["brand", "INCOME"])["logmove"].mean()

In [ ]:
plt.figure(figsize=(10,6))
plt.title("pengaruh penghasilan rumah tangga di lingkungan toko dengan tingkat penjualan Tropicana")

sns.barplot(x=df_trop["INCOME"], y=df_trop["logmove"])
plt.xlabel("INCOME")
plt.ylabel("logmove")
Text(0, 0.5, "logmove")

In [ ]:
sns.heatmap(data=df_trop[["INCOME","logmove", "AGE60", "EDUC"]].corr())
df[["INCOME","logmove", "AGE60", "EDUC"]].corr()