a. Baca dan tampilkan isi (5 baris pertama) dari data contribution.csv pada Google 
Colab! (poin 5)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("https://raw.githubusercontent.com/raditya2010631170111/df_20111/main/contribution.csv")
df.head()

,Gender,Class Year,Marital Status,Major,Next Degree,FY04Giving,FY03Giving,FY02Giving,FY01Giving,FY00Giving,AttendenceEvent
0,M,1957,M,History,LLB,2500.0,2500.0,1400.0,12060.0,12000.0,1
1,M,1957,M,Physics,MS,5000.0,5000.0,5000.0,5000.0,10000.0,1
2,F,1957,M,Music,NONE,5000.0,5000.0,5000.0,5000.0,10000.0,1
3,M,1957,M,History,NONE,0.0,5100.0,200.0,200.0,0.0,1
4,M,1957,M,Biology,MD,1000.0,1000.0,1000.0,1005.0,1000.0,1

b. Lakukan data profiling pada data tersebut untuk lebih memahami data! (poin 10)

In [ ]:
df.tail()

In [ ]:
df.describe()

,Class Year,FY04Giving,FY03Giving,FY02Giving,FY01Giving,FY00Giving,AttendenceEvent
count,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000
mean,1981.252033,159.399870,241.474610,133.458374,276.528935,169.181789,0.604065
std,13.466103,792.037594,2062.392231,638.126741,4663.705814,1170.637810,0.489249
min,1957.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1967.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1987.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1997.000000,75.000000,75.000000,51.000000,75.000000,60.000000,1.000000
max,1997.000000,14655.250000,58785.500000,11187.260000,161370.060000,21000.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           1230 non-null   object
 1   Class Year       1230 non-null   int64
 2   Marital Status   1230 non-null   object
 3   Major            1230 non-null   object
 4   Next Degree      1230 non-null   object
 5   FY04Giving       1230 non-null   float64
 6   FY03Giving       1230 non-null   float64
 7   FY02Giving       1230 non-null   float64
 8   FY01Giving       1230 non-null   float64
 9   FY00Giving       1230 non-null   float64
 10  AttendenceEvent  1230 non-null   int64
dtypes: float64(5), int64(2), object(4)
memory usage: 105.8+ KB

In [ ]:
df.columns

Index(['Gender', 'Class Year', 'Marital Status', 'Major', 'Next Degree',
       'FY04Giving', 'FY03Giving', 'FY02Giving', 'FY01Giving', 'FY00Giving',
       'AttendenceEvent'],
      dtype='object')

In [ ]:
df.dtypes

Gender              object
Class Year           int64
Marital Status      object
Major               object
Next Degree         object
FY04Giving         float64
FY03Giving         float64
FY02Giving         float64
FY01Giving         float64
FY00Giving         float64
AttendenceEvent      int64
dtype: object

c. Apakah data tersebut memiliki missing value? Jika ada, lakukan penanganan terhadap missing value tersebut! (poin 10)

In [ ]:
df.isnull()

,Gender,Class Year,Marital Status,Major,Next Degree,FY04Giving,FY03Giving,FY02Giving,FY01Giving,FY00Giving,AttendenceEvent
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1225,False,False,False,False,False,False,False,False,False,False,False
1226,False,False,False,False,False,False,False,False,False,False,False
1227,False,False,False,False,False,False,False,False,False,False,False
1228,False,False,False,False,False,False,False,False,False,False,False
1229,False,False,False,False,False,False,False,False,False,False,False

Data tidak memiliki missing value

d. Lakukan transformasi data pada fitur kategorikal! (poin10)

Fitur kategorikal di data antara lain: 
Gender,
Marital Status,
Major,
Next Degree

Data Transformation dengan cara Data Disceretization memakai Metode Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
df[['Gender']].tail()

     Gender
1225      M
1226      F
1227      F
1228      F
1229      M

In [ ]:
df['Gender'] = encoder.fit_transform(df['Gender'])

In [ ]:
df[['Gender']].tail()

      Gender
1225       1
1226       0
1227       0
1228       0
1229       1

In [ ]:
df[['Marital Status']].tail()

     Marital Status
1225              M
1226              M
1227              S
1228              S
1229              S

In [ ]:
df['Marital Status'] = encoder.fit_transform(df['Marital Status'])

In [ ]:
df[['Marital Status']].tail()

      Marital Status
1225               1
1226               1
1227               2
1228               2
1229               2

In [ ]:
df[['Major']].tail()

          Major
1225        Art
1226        Art
1227    Spanish
1228    Spanish
1229  Economics

In [ ]:
df['Major'] = encoder.fit_transform(df['Major'])

In [ ]:
df[['Major']].tail()

      Major
1225      2
1226      2
1227     41
1228     41
1229     10

In [ ]:
df[['Next Degree']].tail()

     Next Degree
1225        NONE
1226         NDA
1227         NDA
1228        NONE
1229         NDA

In [ ]:
df['Next Degree'] = encoder.fit_transform(df['Next Degree'])

In [ ]:
df[['Next Degree']].tail()

      Next Degree
1225           41
1226           40
1227           40
1228           41
1229           40

e. Lakukan seleksi fitur pada data tersebut! (poin 15)

Seleksi Fitur dengan teknik Metode Filter memakai metode Variance threshold

In [ ]:
df.shape

(1230, 11)

Menghapus fitur ID, Axis=Column, X=predictor=dataku1, Y=target=t

In [ ]:
X = df.drop(['Gender', 'AttendenceEvent'],axis=1)
Y = df[['AttendenceEvent']]
Y.tail()

      AttendenceEvent
1225                0
1226                0
1227                0
1228                0
1229                1

Semua fitur kategorikal telah diubah, maka tidak ada fitur numerik untuk diencode

In [ ]:
X.dtypes

Class Year          int64
Marital Status      int64
Major               int64
Next Degree         int64
FY04Giving        float64
FY03Giving        float64
FY02Giving        float64
FY01Giving        float64
FY00Giving        float64
dtype: object

Menghapus fitur konstan

In [ ]:
from sklearn.feature_selection import VarianceThreshold
var_threshold = VarianceThreshold(threshold = 0) 
var_threshold.fit(X)
var_threshold.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

Menghapus fitur quasi-konstan

In [ ]:
var_threshold = VarianceThreshold(threshold = 0.1) 
var_threshold.fit(X)
var_threshold.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])